USE [newsapp-android]
GO
/****** Object:  Table [dbo].[IMAGE_INFORMATION]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_INFORMATION](
	[image_id] [int] NOT NULL,
	[source_id] [int] NOT NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_IMAGE_INFORMATION] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC,
	[source_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_DETAIL]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_DETAIL](
	[source_id] [int] NOT NULL,
	[url_type] [nvarchar](255) NOT NULL,
	[url] [nvarchar](max) NULL,
 CONSTRAINT [PK_NEWS_HEALTH_DETAIL] PRIMARY KEY CLUSTERED 
(
	[source_id] ASC,
	[url_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_SOURCE]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_SOURCE](
	[source_id] [int] NOT NULL,
	[source_name] [nvarchar](255) NULL,
	[information] [nvarchar](max) NULL,
 CONSTRAINT [PK_NEWS_SOURCE] PRIMARY KEY CLUSTERED 
(
	[source_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYNC_SUBSCRIBE]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYNC_SUBSCRIBE](
	[sync_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[source_id] [int] NOT NULL,
 CONSTRAINT [SYNC_SUBSCRIBE_PK] PRIMARY KEY CLUSTERED 
(
	[sync_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_INFORMATION]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_INFORMATION](
	[user_id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](max) NULL,
	[avatar] [image] NULL,
 CONSTRAINT [USER_INFORMATION_PK] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PASSLOGIN]    Script Date: 22/12/2022 00:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PASSLOGIN](
	[user_id] [int] NOT NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[nick_name] [nvarchar](max) NULL,
	[sync_settings] [bit] NULL,
 CONSTRAINT [USER_PASSLOGIN_PK] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[IMAGE_INFORMATION] ([image_id], [source_id], [image]) VALUES (5368, 665297, N'https://play-lh.googleusercontent.com/vBgE9AG3HAKIDiXTiRMNxWkyALhcFipv-lPsgszEduzf2VcnqmOaGvLtAYOHry41-PA')
INSERT [dbo].[IMAGE_INFORMATION] ([image_id], [source_id], [image]) VALUES (6436, 629603, N'https://play-lh.googleusercontent.com/6eBVmDIQNXsUd06jK9sRRdUEHsp4oiI7jwFFZq4ccFpY3Jc1nAsRMv0pnH__mYYExak')
INSERT [dbo].[IMAGE_INFORMATION] ([image_id], [source_id], [image]) VALUES (9333, 749896, N'https://play-lh.googleusercontent.com/DCDX3C-F2-jY0zs6SScwbLjQbdsf5boJ3o6x0zr77Md3RLLVRPD1-tloKsgp6pJ6Bjc')
GO
INSERT [dbo].[NEWS_DETAIL] ([source_id], [url_type], [url]) VALUES (629603, N'Breaking News', N'https://vnexpress.net/rss/tin-moi-nhat.rss')
INSERT [dbo].[NEWS_DETAIL] ([source_id], [url_type], [url]) VALUES (629603, N'Education', N'https://vnexpress.net/rss/giao-duc.rss')
INSERT [dbo].[NEWS_DETAIL] ([source_id], [url_type], [url]) VALUES (629603, N'Health', N'https://vnexpress.net/rss/suc-khoe.rss')
GO
INSERT [dbo].[NEWS_SOURCE] ([source_id], [source_name], [information]) VALUES (629603, N'VNExpress', N'VNExpress la trang tin tuc tong hop truc thuoc tap doan FPT VietNam')
INSERT [dbo].[NEWS_SOURCE] ([source_id], [source_name], [information]) VALUES (665297, N'Soha News', N'Bao Soha truc thuoc cong ty co phan VCCrop')
INSERT [dbo].[NEWS_SOURCE] ([source_id], [source_name], [information]) VALUES (749896, N'Nguoi Lao Dong News', N'Bao nguoi lao dong truc thuoc - Thanh uy TP.Ho Chi Minh')
GO
ALTER TABLE [dbo].[IMAGE_INFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_INFORMATION_NEWS_SOURCE] FOREIGN KEY([source_id])
REFERENCES [dbo].[NEWS_SOURCE] ([source_id])
GO
ALTER TABLE [dbo].[IMAGE_INFORMATION] CHECK CONSTRAINT [FK_IMAGE_INFORMATION_NEWS_SOURCE]
GO
ALTER TABLE [dbo].[NEWS_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_DETAIL_NEWS_SOURCE] FOREIGN KEY([source_id])
REFERENCES [dbo].[NEWS_SOURCE] ([source_id])
GO
ALTER TABLE [dbo].[NEWS_DETAIL] CHECK CONSTRAINT [FK_NEWS_DETAIL_NEWS_SOURCE]
GO
ALTER TABLE [dbo].[SYNC_SUBSCRIBE]  WITH CHECK ADD  CONSTRAINT [FK_SYNC_SUBSCRIBE_NEWS_SOURCE] FOREIGN KEY([source_id])
REFERENCES [dbo].[NEWS_SOURCE] ([source_id])
GO
ALTER TABLE [dbo].[SYNC_SUBSCRIBE] CHECK CONSTRAINT [FK_SYNC_SUBSCRIBE_NEWS_SOURCE]
GO
ALTER TABLE [dbo].[SYNC_SUBSCRIBE]  WITH CHECK ADD  CONSTRAINT [FK_SYNC_SUBSCRIBE_USER_PASSLOGIN] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER_PASSLOGIN] ([user_id])
GO
ALTER TABLE [dbo].[SYNC_SUBSCRIBE] CHECK CONSTRAINT [FK_SYNC_SUBSCRIBE_USER_PASSLOGIN]
GO
ALTER TABLE [dbo].[USER_INFORMATION]  WITH CHECK ADD  CONSTRAINT [FK_USER_INFORMATION_USER_PASSLOGIN] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER_PASSLOGIN] ([user_id])
GO
ALTER TABLE [dbo].[USER_INFORMATION] CHECK CONSTRAINT [FK_USER_INFORMATION_USER_PASSLOGIN]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NORMAL LOGIN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USER_PASSLOGIN'
GO
