<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.android.chrome" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>


    <application
        android:name=".kotlin.ApplyDynamicColor"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".java.activity.ChangeTheme"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.RecoveryAccount"
            android:exported="false" />
        <activity
            android:name=".java.activity.HomePage"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.ViewRecoveryCode"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.AccountSettings"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.RegisterSuccess"
            android:exported="false" />
        <activity
            android:name=".java.activity.ChangeLanguage"
            android:exported="false" />
        <activity
            android:name=".java.activity.SourceNewsDetails"
            android:exported="false" />
        <activity
            android:name=".java.activity.WallpaperHeader"
            android:exported="false" />
        <activity
            android:name=".java.activity.AboutApplication"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.SettingsUserLogin"
            android:exported="false" />
        <activity
            android:name=".java.activity.SettingsPage"
            android:exported="false" />
        <activity
            android:name=".java.activity.userlogin.ForgotPasswordForm"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.userlogin.VerifyAccountForm"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.userlogin.SignUpForm"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"> <!-- or "adjustPan" -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.userlogin.SignInForm"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.newsdetail.NewsDetailByWebView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.SourceNewsList"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.FavouriteNews"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.newsapi.NewsApiPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.activity.HelloScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>