<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.android.chrome" />

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".kotlin.ApplyDynamicColor"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newsapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".java.Signed.RecoveryAccount"
            android:exported="false"
            android:theme="@style/LoginForm" />
        <activity
            android:name=".java.Global.NoInternetConnection"
            android:exported="false" />
        <activity
            android:name=".java.RSSURL.HomePage"
            android:exported="false" />
        <activity
            android:name=".java.Signed.ViewRecoveryCode"
            android:exported="false" />
        <activity
            android:name=".java.Signed.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".java.Signed.AccountSettings"
            android:exported="false" />
        <activity
            android:name=".java.Signed.RegisterSuccess"
            android:exported="false" />
        <activity
            android:name=".java.Global.ChangeLanguage"
            android:exported="false" />
        <activity
            android:name=".java.RSSURL.SourceNewsDetails"
            android:exported="false" />
        <activity
            android:name=".java.Global.WallpaperHeader"
            android:exported="false" />
        <activity
            android:name=".java.Global.AboutApplication"
            android:exported="false" />
        <activity
            android:name=".java.Signed.SettingsLogined"
            android:exported="false"
            android:theme="@style/SettingsForm" />
        <activity
            android:name=".java.Global.SettingsPage"
            android:exported="false"
            android:theme="@style/SettingsForm" />
        <activity
            android:name=".java.Signed.ForgotPasswordForm"
            android:exported="false"
            android:theme="@style/LoginForm" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.Signed.VerifyAccountForm"
            android:exported="false"
            android:theme="@style/LoginForm" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.Signed.SignUpForm"
            android:exported="false"
            android:theme="@style/LoginForm" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.Signed.SignInForm"
            android:exported="false"
            android:theme="@style/LoginForm" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.NewsDetails.NewsDetailWebView"
            android:exported="false"
            android:theme="@style/NewsDetails.NoActionBar" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.RSSURL.SourceNewsList"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.Global.FavouriteNews"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.NewsAPI.NewsAPIPage"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".java.Global.HelloScreen"
            android:exported="true"
            android:theme="@style/LoginForm" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>